export AZURE_API_TYPE=azure
export AZURE_API_VERSION=2025-08-07
export AZURE_RESOURCE_NAME=devel-mjx2crb7-eastus2
export AZURE_API_BASE=https://devel-mjx2crb7-eastus2.openai.azure.com/
export AZURE_DEPLOYMENT_NAME=gpt-5.2

